@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Colors
$card-background: #ffffff;
$secondary-text-color: rgb(12, 139, 207);

// Spacing
$space-all: 100%;

//Fonts
$main-font: "Quicksand", sans-serif;
